body {
    background-color: #1b1b1b;
    color: #f0f0f0;
    font-family: 'PT Sans', sans-serif;
    font-size: 24pt;

    max-width: 650px;
    margin: 40px auto;
    padding: 0px 10px;
}

a:link {
    color: #d0d0d0;
}

a:visited {
    color: #909090;
}

a:hover {
    color: #ffffff;
}

a:active {
    color: #ffffff;
}
